# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# Django
*.log
db.sqlite3
staticfiles/
media/

# Environment variables
.env
*.env

# Django local files
backend/backend/.env
backend/backend/db.sqlite3
backend/backend/staticfiles/
backend/backend/media/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# React / Vite
dist/
build/
.vite/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Database backup
ecosmart_backup.sql
*.sql

__pycache__/
*.pyc
